h1 {
    color:red;
}
p {
    color:brown;
}
button {
    color:aqua;

}
body {
    background-color: rgb(6, 18, 19);
    
}
h6 {

color:rgb(225,0,0);
}
p {
    color:#00ff00;
}
#heading1 {
    color:violet;
}
div {
    background-color: blue;
}

